@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* font variables */
  --font-cinzel: var(--font-cinzel);
  --font-cormorant: var(--font-cormorant);
  --font-amiri: var(--font-amiri);
  --font-spectral: var(--font-spectral);
  --font-cairo: var(--font-cairo);
  --font-tajwal: var(--font-tajwal);
  --font-ghorab: var(--font-ghorab);
  --font-karla: var(--font-karla);
}

:root[lang="ar"] body,
:root[lang="ar"] h2,
:root[lang="ar"] h3,
:root[lang="ar"] p,
:root[lang="ar"] span {
  font-family: var(--font-cairo), sans-serif !important;
}

:root[lang="ar"] h1 {
  font-family: var(--font-ghorab), sans-serif !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@variant dark (&:where(.dark, .dark *));

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-karla) , sans-serif ;
  /* transition: background-color 0.3s ease, color 0.3s ease; */
}

h1{
  font-family: var(--font-cinzel);
}

p {
  /* font-family: var(--font-spectral); */
  text-shadow:
    0 2px 8px rgba(0, 0, 0, 0.8),
    0 0 20px rgba(0, 0, 0, 0.6);
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

/* Apply transition to all elements using dark mode variants */
/* [class*="dark:"] {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
} */