@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;


  --font-cinzel: var(--font-cinzel);
  --font-cormorant: var(--font-cormorant);
  --font-amiri: var(--font-amiri);
  --font-spectral: var(--font-spectral);
  --font-cairo: var(--font-cairo);
  --font-tajwal: var(--font-tajwal);
  --font-karla: var(--font-karla);
  --font-ghorab: var(--font-ghorab);
  --font-thuluth: var(--font-thuluth);
}


@supports (font-family: var(--font-ghorab)) {
  @font-face {
    font-family: 'GhorabArabicOnly';
    src: local('Ghorab'), url('../fonts/ghorab.otf') format('opentype');
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
    font-display: swap;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --font-body: var(--font-cairo), var(--font-karla), sans-serif;
  --font-heading: GhorabArabicOnly, var(--font-cinzel), sans-serif;
}

@variant dark (&:where(.dark, .dark *));

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  /* text-shadow:
    0 2px .5px rgba(0, 0, 0, 0.8),
    0 0 10px rgba(0, 0, 0, 0.6); */
}
.hero{
  font-family: var(--font-thuluth);
  transform-origin: end;
}

h1 {
  font-family: var(--font-heading);
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}